<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h1>New restaurant</h1>
      <%= render 'form' %>
      <%= link_to 'Back', restaurants_path, class: "btn btn-success mt-2" %>
    </div>
  </div>
</div>

